
<%= form_with(model: user, local: true) do |form| %>
  <%= render 'fields', user: user, form: form %>
 
  <div class="actions">
    <%= form.submit %>
  </div>
  <% if current_user  %>
 <div class="field">
    <%= form.label :name  %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
</div>
<% end %>
<% end %>
